/* Master styles */
@font-face {
    font-family: 'torusregular';
    src: url('https://raw.githubusercontent.com/Nobo04/Nobo-website/main/torus_regular-webfont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/Nobo04/Nobo-website/main/torus_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    font-family: "torusregular", sans-serif;
    font-size: 1.5vw;
    margin: 0px;
    padding: 0px;
    background-color: rgb(7, 7, 7);
    color: white; /* text color */

}

a:link, a:visited {
    text-decoration: none;
    color:white;
}



.wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.container  {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box-wrapper {
    display: flex;
    gap: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

/* Nav styles */
.top-bar {
    display: flex;
    flex-grow: 1; /* makes left side stuff grow to fill in horizontal screen space */
}

.nav-bar {
    display: flex;
    margin-left: 12px;
    border-radius: 25px; /* rounded sides */
    background-image: linear-gradient(to top right, #FF35A1, #38DBFF);
    padding: 20px; 
    width: max-content;
    height: 42px;
    align-items: center;
    justify-content: space-evenly; /* spaces buttons evenly */
    flex-grow: 1; /* makes navbar grow to fill in horizontal screen space */
}

/* Main Content Styles */

.content-box-top {
    border-radius: 25px 25px 0px 0px; /* rounded sides */
    background: #373737;
    padding: 20px; 
    width: auto;
    height: 100%;
    flex-grow: 1;
}

.content-box-bottom {
    border-radius: 0px 0px 25px 25px; /* rounded sides */
    background: #373737;
    padding: 20px; 
    width: auto;
    height: 1000px; /* temp */
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 2.8vw;
}

.sidebar-box {
    border-radius: 25px; /* rounded sides */
    background: #373737;
    padding: 20px; 
    width: 447px;
    height: 988px; /* temp */
    margin-top: 12px;
}

.inside-content-box {
    margin-left: 10%;
    margin-bottom: 270px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.linebreak {
    margin-right: 100%;
}